<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#ffbbf4]">
    <h1 class="text-blue-300 text-2xl">Edit Conatct</h1>
    <div class="mt-4 p-4 ">
    <form method="post" action="/editcontact/<%=contact._id%>">
        <input type="text" class="outline-none bg-[#555555]  border-2 rounded-lg"  placeholder="<%=contact.name%>" name="name">
        <input type="text" class="outline-none bg-[#555555] w-80 border-2 rounded-lg"  placeholder="<%=contact.mobilenumber%>" name="mobilenumber">
        <input type="submit" class="bg-[#b2d8b2] mt-4 p-2 rounded-lg" value="Edit Contact">
    </form>
    </div>
</body>
</html>